//colors
$colorPrimary: #049dbf;
$colorAccent: #f28f16;
$colorNeutralDark: #585c5b;
$colorNeutralLight: #a2a8a7;
$colorNeutralVeryLight: #d3dbd9;
$colorAlert: #a41900;
$colorSuccess: #008B3C;

//font
$webFont: 'Montserrat', sans-serif;
$codeFont: 'Source Code Pro', monospace;

//border
$borderRadius: 10px;

//breakpoints
$tablet: "min-width: 700px";
$desktop: "min-width: 1100px"; 